html, body {
    font-family: "Overpass", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
.head {
    background: linear-gradient(70deg, hwb(356 32% 0%), hsl(355, 100%, 74%));
    border-bottom-left-radius: 50px;
}
.container {
    margin: 0;
    padding: 0;
    width: 100%;
}
header {
    text-align: center;
    border-bottom-left-radius: 50px;
    background-image: url(./bg-pattern-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
}
header .brand {
    color: white;

    margin: auto 1em auto 2.5em;
}
nav {
    display: flex;
    background-color: transparent;
    align-items: center;
    align-items: center;
    max-height: 72px;
    padding-top: 25px;
}
.drop {
    position: relative
}
.dropdown {
    position: absolute;
    background-color: white;
    
}
.dropdown ul {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px;
    
}
.dropdown ul li {
    color: black;
    padding: 5px;
    box-sizing: border-box;
    margin: 5px;
    text-align: left;
}
.dropdown ul li a {
    color: black;
    text-decoration: none;
}
.dropdown ul li:hover {
    text-decoration: none;
    font-weight: bolder;
}
ul {
    display: flex;
    padding: 0;
}
nav ul li {
    cursor: pointer;
}
nav ul li:hover {
    text-decoration: underline;
}
#dropd {
    background-color: transparent;
    border: none;
}
.loginb, .signupb {
    width: 90px;
    height: 30px;
    border-radius: 20px; 
    margin: 0;
    border: none;
    cursor: pointer;
    border: 1px solid white;
}
.loginb {
    background-color: transparent;
    color: white;
    margin-right: 1em;
    
}
.signupb {
    background-color: transparent;
    color: white;
}
.loginb:hover, .signupb:hover {
    background-color: rgba(255, 255, 255, 0.87);
}
li {
    list-style: none;
    color: white;
    padding: 10px;
}
.login {
    margin-left: auto;
    margin-right: 10px;
}
.context {
    margin-top: 4rem;
    color: white;
}
.context h1 {
    font-weight: 300;
    font-size: 3em;
    margin-bottom: 0;
}
.context p {
    margin-top: 0;
}
.context button {
    width: 130px;
    height: 40px;
    border-radius: 20px; 
    margin-bottom: 5rem;
    margin-top: 1.7rem;
}
.start {
    margin-right: 10px;
    border: 1px solid white;
    box-sizing: border-box;
    background-color: white;
    padding: 10px;
    color: #ff525d;
    font-weight: bold;
    cursor: pointer;
}
.start:hover {
    background: #ff525d;
    color: white;
}
.learn {
    margin-right: 10px;
    border: 1px solid white;
    box-sizing: border-box;
    background-color: transparent;
    padding: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.learn:hover {
    background-color: white;
    color: #ff525d;
}
.section1 {
    text-align: center;
    display: flex;
}
.section1 .imgg {
    background-image: url(./illustration-editor-desktop.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 90%;
    width: 60%;
    min-width: 400px;
}

h2 {
    margin-top: 4em;
}
.note {
    padding: 0 60px;
    text-align: left;
    width: 50%;
    min-width: 250px;
}
.section2 {
    background-color: hsl(240, 10%, 16%);
    color: white;
    border-radius: 0 50px 0 50px;
    margin-top: 6em;
    max-height: 300px;
}
.head2 {
    background-image: url(./bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-position-x: -45%;
    background-position-y: 100%;
    background-size: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-height: 300px;
}
.section2 .note {
    max-width: 500px;
    justify-self: center;
    margin-top: auto;
    margin-bottom: auto;
    
}
.section2 .note h2 {
    margin-top: 1.5em;
}
.section2 .imgg {
    min-width: 400px;
    height: 400px;
    align-self: center;
}
.section3 {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5em;
    margin-bottom: 7em;
}
.section3 .imgg {
    background-image: url(./illustration-laptop-desktop.svg);
    background-size: 100%;
    background-position: left;
}
footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: hsl(240, 40%, 12%);
    border-top-right-radius: 60px;
    text-align: left;
    color: white;
}
footer div ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
    gap: 7px;
}
footer div ul li a {
    color: white;
    text-decoration: none;
}
footer div ul li a:hover {
    text-decoration: underline;
}
footer div h4 {
    margin-top: 2em;
}
.login {
    margin-left: auto;
}
.brand {
    font-weight: bolder;
    font-size: 2em;
    margin-top: 1em;
}
footer div {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 150px;
}
footer div ul li {
    padding-left: 0;
}
.tii {
    margin-left: 5px;
}
.tik {
    transform: rotate(270deg);
    margin-left: 5px;
}
.tab {
    display: none;
}
.mobb {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
}
@media (max-width: 800px) {
    
    .section1 {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 30px;
    }
    .section1 .imgg {
        background-image: url(./illustration-editor-mobile.svg);
        max-height: 500px;
        min-width: none;
        height: 400px;
        width: 100%;
        background-position: center;
    }
    .section1 .note {
        box-sizing: none;
        padding: 13px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 4em;
    }
    .note {
        justify-content: center;
        width: 80%;
    }
    .head2 {
            flex-direction: column;
            justify-content: center;
            gap: 0;
            max-height: 500px;
            background-position-x: 50%;
            background-position-y: 0%;
    }
    .section2 {
        max-height: 500px;
    }
    .buff {
        width: 30px;
        height: 150px;
    }
    .section2 .note {
        margin-left: auto;
        margin-right: auto;
        align-self: flex-start;
        padding: 0;
        text-align: center;
        
    }
    .section2 .note h2 {
        margin-top: 0;
        flex-wrap: wrap;
        
    }
    .section2 .imgg {
        min-height: none;
        
    }
    .section3 .imgg {
        background-image: url(./illustration-laptop-mobile.svg);
    }
    footer {
        flex-direction: column;
    }
    footer div {
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        width: 150px;
    }
    footer div ul li {
        padding-left: 0;
    }
    header nav .dropdowns ul {
        background-color: rgba(255, 255, 255, 0.74);
        flex-direction: column;
    }
    nav {
        position: relative;
    }
    .tab {
        display: inline;
        position: absolute;
        right: 10px;
        top: 25px;
        width: 50px;
        z-index: 1;
        border: 1px solid white;
        background-color: #fc727b;
        border-radius: 7px;
        cursor: pointer;
    }
    header nav .mob {
        display: flex;
        flex-direction: column;
        width: 90%;
        position: absolute;
        left: 5%;
        top: 10px;
    }
   
    header nav .dropdowns ul li {
        color: black;
    }
    header nav .dropdowns ul li:hover {
        color: black;
        font-weight: bold;
    }
    header nav .mob .dropdowns {
        
        width: 100%;
    }
    .login {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.74);
        justify-content: center;
        gap: 10px;
        margin: 0;
        padding: 0.5em 0;
    }
    .login button {
        border-color: #ff525d;
        color: #ff525d;
        margin-left: auto;
        margin-right: auto;
    }
    .loginb:hover, .signupb:hover {
        background-color: #ff525d;
        color: white;
    }
    .mobb {
        display: none;
    }
    
}
@media (max-width: 290px) {
    .section1 .imgg {
        width: 270px;
    }
}
.hide {
    display: none;
}
